<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового дела</title>
    <link th:href="@{webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">LawyerCRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/add}">Добавление дела</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/ActiveClients}">Активные Дела</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ArchiveClients}">Архив Дел</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="card w-50" style="margin-top: 10%">
        <div class="card-body">
            <div class="card-title" style="text-align: center">
                Добавление нового дела
            </div>
            <div>
                <form action="#" th:action="@{/add}" th:object="${indexTable}" method="post">
                    <table class="table">
                        <tr>
                            <td>Дата</td>
                            <td><input type="date" th:field="*{date}"/></td>
                        </tr>
                        <tr>
                            <td>Имя Дела</td>
                            <td><input type="text" th:field="*{name}"/></td>
                        </tr>
                        <tr>

                            <td>ФИО</td>
                            <td><input type="text" th:field="*{fio}"/></td>
                        </tr>
                        <tr>

                            <td>&nbsp;</td>
                            <td><input type="submit" class="btn btn-success" value="Добавить"/></td>
                        </tr>
                    </table>


                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>