<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">LawyerCRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"th:href="@{/add}">Добавление дела</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"th:href="@{/ActiveClients}">Активные Дела</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"th:href="@{/ArchiveClients}">Архив Дел</a>
            </li>
        </ul>
    </div>
</nav>



<h1 style="margint-top:5%;margin-bottom:10%;text-align: center;">Добро пожаловать в LawyerCRM</h1>
<p style="text-align: center;">Здесь будут публиковаться выигранные дела</p>
</body>
</html>